@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Kavoon&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kavoon&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* Header */

header {
    background-color: #0D1B5D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 99px;
    width: 1440;
    align-items: center;
}

header h1 {
    font-family: Kavoon;
    padding-left: 72px
}

header span {
    font-family: Irish Grover;
    font-weight: 100;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
    color: #f4f4f4;
    font-size: 24px;
    font-weight: 10px;
}

header div {
    display: flex;
    align-items: center;
    padding-right: 72px;
}

.pesquisar {
    width: 40px;
    height: 40px;
}

.login {
    width: 70px;
    height: 40px;
    background-color: #E80505;
    color: #f4f4f4;
    border: none;
    border-radius: 10px;
}

/* Main */

.filme-exposition {
    display: flex;
    gap: 10px;
    background-image: url(https://ingresso-a.akamaihd.net/b2b/production/uploads/article/image/4993/0911c95a2077f2ff4f9077d78c846f6f.jpg);
    height: 484px;
    align-items: center;
    justify-content: center;
}

.filme-exposition > div:first-child {
    width: 248px;
    height: 380px;
}

.filme-exposition img {
    width: 100%;
    border-radius: 7px;
}

.filme-exposition div {
    color: #f4f4f4;
}


/* section destaque */

.sesaocartaz {
    background-color: #0D1B5D;
    width: 100%;
    min-height: 439px;
}

.sesaocartaz h2 {
    color: #f4f4f4;
    font-weight: 200;
}

.DivisaoCards {
    display: flex;
    flex-direction: row;
}

.cards {
    width: 182px;
    height: 250px;
}

.cards img {
    width: 100%;
}

.cards div {
    background-color: #000000;
    color: #f4f4f4;
}

/* Footer */

footer {
    background-color: #0D1B5D;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #f4f4f4;
}